aiofiles
aniso8601
async-exit-stack
async-generator
certifi
chardet
click
dnspython
email-validator
emoji
fastapi
graphene
graphql-core
graphql-relay
gunicorn
h11
httptools; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna
itsdangerous
jinja2
markupsafe
mimesis
orjson
promise
pydantic
python-multipart
pyyaml
requests
rx
six
starlette
ujson
urllib3
uvicorn
uvloop; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
websockets
